

h2 {
    color: #fff;
}

#search-input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
}