





.dashboard-body {
    width: 80%;
    margin: 0 auto;
    .box {
        display: flex;
        align-items: center;
        margin: 20px 5%;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px 2px rgb(0 0 0 / 10%);
    }
    li{
        width: 300px;
        cursor: pointer;
    }
    
}